S3/InClass/data/cifar-10-python.tar.gz
S3/InClass/data/sample.txt
S3/InClass/data/cifar-10-batches-py/batches.meta
S3/InClass/data/cifar-10-batches-py/data_batch_1
S3/InClass/data/cifar-10-batches-py/data_batch_2
S3/InClass/data/cifar-10-batches-py/data_batch_3
S3/InClass/data/cifar-10-batches-py/data_batch_4
S3/InClass/data/cifar-10-batches-py/data_batch_5
S3/InClass/data/cifar-10-batches-py/readme.html
S3/InClass/data/cifar-10-batches-py/test_batch
